<%- include("partials/header") %>

<div class="logout">
<h1>
	You have successfully logged in!
</h1>
<h4>
	Please logout below.
</h4>
<a class="btn btn-success" href="#">Logout</a>
</div>
<%- include("partials/footer") %>