/* General */
body,html{
	height:100%;
	font-family: 'Noto Sans JP', sans-serif;
}
/* Full Container */
div.container.login{
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column
}
/* Input Spacing */
div.input-group{
	margin-bottom:15px;
}
span.input-group-text.pass{
	padding-right:17px;
}
/* Font and Spacing sizes */
h3.move{
	font-weight:700;
	font-size:40px;
	margin-bottom:15px;
}
h5.member{
	font-weight:400;
	font-size:32px;
	margin-bottom:15px;
}
/* Button Styling and Sizing */
button.btn{
	margin-left:110px;
	padding-left:15px;
	padding-right:15px;
	margin-bottom:10px;	
}
a.btn.btn-primary{
	padding-left:15px;
	padding-right:15px;
}
div.col.col-sm-12{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

/* Logout Styling */
div.logout{
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	margin:0 auto;
}
div.logout h1 {
	font-weight:700;
	font-size:42px;
	margin-bottom:25px;
}
div.logout h4 {
	font-weight:400;
	font-size:28px;
	margin-bottom:25px;
}